<?php
/**
 * @access protected
 * @author Judzhin Miles <info[woof-woof]msbios.com>
 */
namespace Kubnete\Content;

$this->headLink()
    ->appendStylesheet($this->basePath('backend/assets/js/plugins/codemirror/lib/codemirror.css'));

$this->headScript()
    // Core
    ->appendFile($this->basePath('backend/assets/js/plugins/tables/datatables/datatables.min.js'))
    ->appendFile($this->basePath('backend/assets/js/plugins/forms/selects/select2.min.js'))
    // Theme
    ->appendFile($this->basePath('backend/assets/js/plugins/codemirror/lib/codemirror.js'))
    ->appendFile($this->basePath('backend/assets/js/plugins/codemirror/addon/edit/matchbrackets.js'))
    ->appendFile($this->basePath('backend/assets/js/plugins/codemirror/mode/htmlmixed/htmlmixed.js'))
    ->appendFile($this->basePath('backend/assets/js/plugins/codemirror/mode/xml/xml.js'))
    ->appendFile($this->basePath('backend/assets/js/plugins/codemirror/mode/javascript/javascript.js'))
    ->appendFile($this->basePath('backend/assets/js/plugins/codemirror/mode/css/css.js'))
    ->appendFile($this->basePath('backend/assets/js/plugins/codemirror/mode/clike/clike.js'))
    ->appendFile($this->basePath('backend/assets/js/plugins/codemirror/mode/php/php.js'))
    ->appendFile($this->basePath('backend/assets/js/core/app.js'))
    ->appendFile($this->basePath('backend/assets/js/pages/datatables_basic.js'))
?>


<!-- Basic datatable -->
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Basic datatable</h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        The <code>DataTables</code> is a highly flexible tool, based upon the foundations of progressive enhancement,
        and will add advanced interaction controls to any HTML table. DataTables has most features enabled by default,
        so all you need to do to use it with your own tables is to call the construction function. Searching, ordering,
        paging etc goodness will be immediately added to the table, as shown in this example. <strong>Datatables support
            all available table styling.</strong>
        <p class="content-group">
            <a href="<?= $this->url('cpanel/development/template/add'); ?>" class="btn btn-primary">
                Create template
            </a>
        </p>

    </div>

    <table class="table table-bordered table-striped table-hover datatable-basic">
        <thead>
        <tr>
            <th style="width: 50px;">#</th>
            <th style="width: 100px">Type</th>
            <th>Identifier</th>
            <th>Name</th>
            <th>Description</th>
            <th>Created At</th>
            <th>Updated At</th>

            <th class="text-center" width="100px">Action</th>
        </tr>
        </thead>

        <tbody>
        <?php foreach ($this->templates as $row) : ?>
            <tr>
                <td><?= $row['id']; ?></td>
                <td class="text-center">
                    <span class="label label-info"><?= $row['type']; ?></span>
                </td>
                <td><?= $row['identifier']; ?></td>
                <td><?= $row['name']; ?></td>
                <td><?= $row['description']; ?></td>
                <td style="width: 200px;"><?= $row['created_at']; ?></td>
                <td style="width: 200px;"><?= $row['updated_at']; ?></td>

                <?php $params = ['id' => $row['id']]; ?>
                <td class="text-center">
                    <ul class="icons-list">
                        <li><a href="<?= $this->url('cpanel/development/template/edit', $params); ?>">
                                <i class="icon-pencil7"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal"
                               data-target="#document_model_warning_<?= $row['id']; ?>">
                                <i class="icon-trash"></i>
                            </a>
                        </li>
                        <li><a href="#"><i class="icon-cog7"></i></a></li>
                    </ul>

                    <!-- Document remove modal -->
                    <div id="document_model_warning_<?= $row['id']; ?>" class="modal fade text-left">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header bg-warning">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h6 class="modal-title">Information</h6>
                                </div>

                                <div class="modal-body">
                                    <h6 class="text-semibold ">Confirmation to delete</h6>
                                    <p>You really want to delete the selected entry, return or repair is
                                        impossible</p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel
                                    </button>
                                    <a href="<?= $this->url('cpanel/development/template/delete', $params); ?>"
                                       class="btn btn-warning">
                                        Confirm
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Document remove modal -->

                </td>
            </tr>
        <?php endforeach; ?>

        </tbody>
    </table>
</div>
<!-- /basic datatable -->